// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Font families
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Playfair Display', serif;

// colors
$primary: #adbab7; // main headings, buttons and key elements
$secondary-white: #ffffff; // backgrounds
$secondary-black: #000000; // texts and secondary details
$secondary-brown: #86756a; // alterative text color
$accent-orange: #fbbb85; // ideal for logo/standoung highlights
$accent-blue: #6a7d93; // additional highlights for subtle details
$accent-purple: #d1c2d9; // additional highlights for subtle details