.header {
  display: flex;
  justify-content: space-between;
  height: 3.125rem;
  background: #999999;
  border-bottom: solid 1px;
  z-index: 10;

  &__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  &__links {
    display: flex;
    align-items: center;

    &--left {
      padding-left: 1.25rem;
      align-self: left;
    }

    &--right {
      padding-right: 1.25rem;
      align-self: right;
    }
  }
}
